<% if @login_warning %>
  <%= @login_warning %>
<% end %>

<h3>Login Page</h3>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
<br></br>
<p>If you do not have an account <a href='/signup'>Sign up here</a><p>
