<h3>List of Bike Owners and their bikes</h3>
<ul>
  <%@owners.each do |owner|%>
    <li><%=owner.username%></li>
    <ul>
      <%owner.bikes.each do |bike|%>
        <li><a href='/bikes/<%=bike.id%>'><%=bike.name%></a></li>
      <%end%>
    </ul>
  <%end%>
</ul>
