<h3>Bikes</h3>

  <%@bikes.reverse_each do |bike|%>
    <%bike.brand ? bike_brand_name = bike.brand.name : bike_brand_name = nil%>
    <h4><a href="/bikes/<%=bike.id%>"><%=bike.name%></a> </h4>
    <p>from <%=bike_brand_name%> $<%=bike.price%></p>
  <%end%>
