<h1>Post your Bike</h1>

<form action="/bikes" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <br></br>

  <label>Price: $</label>
  <input type="decimal" name="price">
  <br></br>

  <label>Review</label>
  <input type="text" name="review">
  <br></br>

  <label>Type your bike's brand</label>
  <input type="text" name="brand_name">
  <br></br>

  <label>or select your bike's brand from below</label>
  <% Brand.all.each do |brand| %>
    <input type="checkbox" id="<%= brand.name %>"  name="brands[]" value="<%= brand.id %>"><%=brand.name%></input>
  <% end %>
  <br></br>

  <input type="submit" value="submit">
</form>
