<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="header-box">
        <h1>Welcome to Bike Owners!</h1>
        <h2>Place to share your bike's information with other bike riders</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="signup">
        <div class="signup-header">
          <h2>Join Now</h2>
          <h3>and share your information.</h3>
        </div>
        <form>
          <div class="group">
            <input type="text"><span class="highlight"></span><span class="bar"></span>
            <label>username</label>
          </div>
          <div class="group">
            <input type="email"><span class="highlight"></span><span class="bar"></span>
            <label>password</label>
          </div>
          <button type="button" class="button buttonBlue">Sign Up
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
          </button>
        </form>
        <!-- <p><a href='/signup'>Sign up</a><p> -->
        
      </div>
    </div> <!-- .col -->
  </div> <!-- .row -->
</div> <!-- .container -->
