<!doctype html>
<html>
  <head>
    <title>My Bicycles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <a href="/">
          <img src="/img/hanlee_logo.png" alt="hanlee logo">
        </a>
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a href="/bikes/new">Add New Bike</a></li>
          <li role="presentation"><a href='/bikes'>List of Bikes</a></li>
          <li role="presentation"><a href='/owners'>List of Owners</a></li>
          <li role="presentation"><a href='/brands'>List of Brands</a></li>
          <li role="presentation"><a href='/login'>Login</a></li>
          <% if logged_in? %>
            <li role="presentation"><a href="/logout"> Log Out </a></li>
          <%end %>
        </ul>
      </div>
    </nav>
    <section>
      <% if logged_in? %>
        <h5>Welcome, <%=current_user.username %></h5>
      <%end %>

      <div class="container">
        <%= yield %>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
