<!doctype html>
<html>
  <head>
    <title>My Bicycles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <% if logged_in? %>
      <nav class="navbar navbar-default">

          <ul class="nav nav-tabs">
            <li role="presentation"><a href="/bikes/new">Add New Bike</a></li>
            <li role="presentation"><a href='/bikes'>List of Bikes</a></li>
            <li role="presentation"><a href='/owners'>List of Owners</a></li>
            <li role="presentation"><a href='/brands'>List of Brands</a></li>
            <li role="presentation"><a href="/logout"> Log Out </a></li>
          </ul>

      </nav>
      <h5>Welcome, <%=current_user.username %></h5>
    <%end %>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
